.scoreboard {
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 10px;
  max-width: 1000px;
  margin: 2rem auto;
  font-family: 'Montserrat', sans-serif;
  text-align: center; 
    justify-content: center;   /* centraliza todo conteúdo horizontalmente */

}

/* Área da partida */
.match {
  display: flex;
  justify-content: center;   /* centraliza todo conteúdo horizontalmente */
  align-items: center;       /* centraliza verticalmente */
  gap: 4rem;                 /* espaço entre time-esquerdo, placar e time-direito */
  margin-top: 1rem;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team span {
  font-size: 2rem;   
  font-weight: bold;  
}

.team img {
  width: 60px;          
  height: 60px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.goals {
  font-size: 2.5rem;      
  font-weight: bold;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; 
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  min-width: 120px;  /* garante que o bloco fique equilibrado */
}

.vs {
  font-size: 1.5rem;
  font-weight: bold;
}
